@import "./../../../App.scss";

.footer-container {
  background-color: $baby-blue;
  color: white;
  height: 100%;
  padding: 0.25em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wave-bottom {
  height: 50px;
  position: relative;
}
.wave-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle at 10px -5px,
    transparent 12px,
    $baby-blue 13px
  );
}
.wave-bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 16px;
  background-size: 40px 20px;
  background-image: radial-gradient(
    circle at 10px 16px,
    $baby-blue 12px,
    transparent 13px
  );
}
