@import "./../../../App.scss";

.header-container {
  background-color: $baby-blue;
  color: white;
  height: 100%;
  padding: 0.25em;
  padding: 0.25em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;

  .headline {
    padding-left: .5em;
  }

}
    .icon-container {
      width: 32px;
      height: 32px;
    }

.header-right {
  padding-right: 1em;
}

.wave {
  transform: rotate(180deg);
  height: 50px;
  position: relative;
}
.wave::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle at 10px -5px,
    transparent 12px,
    $baby-blue 13px
  );
}
.wave::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 16px;
  background-size: 40px 20px;
  background-image: radial-gradient(
    circle at 10px 16px,
    $baby-blue 12px,
    transparent 13px
  );
}
