@import "./../../../App.scss";

.dotted-button {
  font-size: 1.2em;
  font-weight: bolder;
  background-color: white;
  border-radius: 25px;
  border: 1px dotted $baby-blue;
  padding: .25em 1em;
  outline: none;
}

.dotted-button:hover {
  transform: translateY(2.5px);
}
