@import "./../../../App.scss";

.dotted-button {
  font-size: 1.2em;
  font-weight: bolder;
  background-color: white;
  border-radius: 25px;
  border: 1px dotted $baby-blue;
  outline: none;
  height: 2.25rem;
  width: fit-content;
}