.yeast32 {
    background: url("./../../../assets/icons/yeast32.png");
    height: 32px;
    width: 32px;
}

.yeast64 {
    background: url("./../../../assets/icons/yeast64.png");
    height: 64px;
    width: 64px;
}

.yeast128 {
    background: url("./../../../assets/icons/yeast128.png");
    height: 128px;
    width: 128px;
}