@import "../../../App.scss";

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  select {
    margin-left: 1rem;
  }
}

select {
  width: 8rem;
  height: 1.5rem;
  text-align-last: center;
  border-radius: 25px;
  border: 1px dotted $baby-blue;
  background-color: white;

  cursor: pointer;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
