.selection-panel {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: .5em;
    padding: 1em;

    .selection-item {
        background-color: #92CAF3;
        border-radius: 15px;
        color: white;
        font-weight: bold;
        text-align: center;

        p, a {
            color: white;
            text-decoration: none;
        }
    }
}
