.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-rows: 10% 1fr 10%;
  height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  padding: 2em;
}

footer {
  grid-area: footer;
}